<div class="container vh-100 d-flex flex-column justify-content-center align-items-between" *ngIf="proyecto">
    <div class="row">
        <div class="d-flex justify-content-center">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">

                <div class="row g-2 py-2">
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="nombre" name="nombre"
                                [(ngModel)]="proyecto.nombre" required>
                            <label for="floatingInputGrid">Nombre</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="descripcion" name="descripcion"
                                [(ngModel)]="proyecto.descripcion" required>
                            <label for="floatingInputGrid">Descripcion</label>
                        </div>
                    </div>
                </div>
                <div class="row g-2 py-2">
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="url" name="url" [(ngModel)]="proyecto.url"
                                required>
                            <label for="floatingInputGrid">Repositorio URL</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="img" name="img" [(ngModel)]="proyecto.img"
                                required>
                            <label for="floatingInputGrid">Imagen portada URL</label>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center py-5">
                    <button class="btn btn-success w-20 my-2">
                        Actualizar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>