<div class="container vh-100 d-flex flex-column justify-content-center align-items-between" *ngIf="skill">
    <div class="row">
        <div class="d-flex justify-content-center">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="row g-2 py-2">
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="skill.nombre"
                                required>
                            <label for="floatingInputGrid">Skill's</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="porcentaje" name="porcentaje"
                                [(ngModel)]="skill.porcentaje" required>
                            <label for="floatingInputGrid">Porcentaje</label>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center py-5">
                    <button class="btn btn-success w-20 my-2">
                        Actualizar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>