<div class="container vh-100 d-flex flex-column justify-content-center align-items-between">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="row g-2 py-2">
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="nombreE"
                                required>
                            <label for="floatingInputGrid">Nombre de la Empresa</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="puestoE" name="puestoE" [(ngModel)]="puestoE"
                                required>
                            <label for="floatingInputGrid">Cargo</label>
                        </div>
                    </div>
                </div>
                <div class="row g-2 py-2">
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="descripcionE" name="descripcionE"
                                [(ngModel)]="descripcionE" required>
                            <label for="floatingInputGrid">Descripcion del cargo</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="periodoE" name="periodoE" [(ngModel)]="periodoE"
                                required>
                            <label for="floatingInputGrid">Periodo activo</label>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center py-5">
                    <button class="btn btn-success w-20 my-2">
                        Agregar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>